@page "/editor"

@using DBTemplateHandler.Core.Database
@using DBTemplateHandler.Core.Template
@using DBTemplateHandler.Studio.Data
@using DBTemplateHandler.Studio.Controllers
@inject DBTemplateService dbTemplateService
@inject IJSRuntime JSRuntime
@inject ExportController exportController

<div class="container">
    <div class="container-fluid rounded border border-primary">
        <h1>Template editor</h1>
        <div class="row form-group border border-secondary m-1 p-1">
            <div class="col-2 btn-group">
                <button class="btn btn-primary" @onclick="@CreateNewGroup"><span class="oi oi-plus" /></button>
                <button class="btn btn-secondary" @onclick="@SaveTemplateGroup">Save</button>
                <button class="btn btn-danger" @onclick="@DeleteTemplateGroup"><span class="oi oi-trash"></span></button>
            </div>
            <div class="col-5 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Group name</span>
                </div>
                <input type="text" class="form-control" @bind="@(currentTemplateModelPersistenceName)" />
            </div>
            <div class="col-5 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Choose group</span>
                </div>
                @if (templateModelPersistenceNames != null)
                {
                    <select class="form-control" @onchange="@SetCurrentTemplateModels">
                        <option value="">-- Select Template model --</option>
                        @foreach (var templatePersistenceName in templateModelPersistenceNames)
                        {
                            <option value="@templatePersistenceName">@templatePersistenceName</option>
                        }
                    </select>
                }
            </div>
        </div>
        <div class="row form-group m-1">
            <div class="col-10">
                <div class="row">
                    <h6>Templated file path</h6>
                </div>
                <input class="row form-control autocomplete-template-file-path" type="text" @bind="@(CurrentTemplateFilePath)"
                       placeholder="@TemplateFilePathPlaceHolder" />
                <div class="row">
                    <h6>Templated file content</h6>
                </div>
                <div id="editor" class="row" style="height:500px"></div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-2 btn-group">
                        <button class="btn oi oi-plus btn-sm btn-primary" @onclick="AddTemplateToGroup" />
                        <button class="btn oi oi-trash btn-sm btn-danger" @onclick="DeleteFromGroup" />
                    </div>
                </div>
                <div class="row">
                    <select class="form-control" multiple @onchange="@(SetCurrentTemplateModel)" size="30">
                        @if (currentTemplateModels != null)
                        {
                            for (int i = 0; i < currentTemplateModels.Count; i++)
                            {
                                var templateModel = currentTemplateModels[i];
                                <option value="@i">@templateModel.TemplatedFilePath</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid rounded border border-secondary">
        <div class="row mr-1">
            <div class="col-3 text text-primary align-content-start">File(s) generation</div>
            <div class="col-5 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Choose database</span>
                </div>
                @if (databaseModelPersistenceNames != null)
                {
                    <select class="form-control" @onchange="@SetCurrentDatabaseModel">
                        <option value="">-- Select Database model --</option>
                        @foreach (var databaseModelPersistenceName in databaseModelPersistenceNames)
                        {
                            <option value="@databaseModelPersistenceName">@databaseModelPersistenceName</option>
                        }
                    </select>
                }
            </div>

            
            <div class="btn-group offset-1 col-3">
                <button class="btn btn-primary" @onclick="@RunGeneration"><span class="oi oi-media-play"></span>Run</button>
                <a class="btn btn-secondary" href="Export/Export/@System.Net.WebUtility.UrlEncode($"({currentDatabaseModelPersistenceName})->({currentTemplateModelPersistenceName}).zip")"><span class="oi oi-data-transfer-download"></span>Download</a>
            </div>
            
            </div>
            @if (results != null)
            {
                <div class="row mr-1 border border-success rounded form-group">
                    @foreach (var currentResult in results)
                    {
                        <div class="container-fluid mr-1 border border-secondary rounded">
                            <div class="row mr-1">
                                <div class="col-2 text text-info">File path</div>
                                <div class="col-10 border border-info text text-info rounded">
                                    @currentResult.Path
                                </div>
                            </div>
                            <div class="row mr-1">
                                Content
                            </div>
                            <div class="row mr-1 border border-info rounded">
                                <textarea class="form-control" rows="10">
                                @currentResult.Content
                            </textarea>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
</div>

@code {


    private string DisableCurrentTemplate()
    {
        return currentTemplateModel == null ? "disabled" : String.Empty;
    }


    public string CurrentTemplateFilePath
    {
        get { return currentTemplateModel?.TemplatedFilePath; }
        set
        {
            if (currentTemplateModel == null) return;
            currentTemplateModel.TemplatedFilePath = value;
            SetEditorContent(value, CurrentTemplateFileContent);
        }
    }

    public string CurrentTemplateFileContent
    {
        get
        {
            return CurrentTemplateModel.TemplatedFileContent;
        }
        set
        {
            if (CurrentTemplateModel == null) return;
            CurrentTemplateModel.TemplatedFileContent = value;
            SetEditorContent(CurrentTemplateFilePath, value);
        }
    }

    string currentDatabaseModelPersistenceName;
    IDatabaseModel currentDatabaseModel;
    IList<IHandledTemplateResultModel> results = null;
    async void SetCurrentDatabaseModel(ChangeEventArgs e)
    {
        var value = e.Value.ToString();
        currentDatabaseModel = await dbTemplateService.GetDatabaseModelByPersistenceName(value);
        currentDatabaseModelPersistenceName = value;
    }

    string currentTemplateModelPersistenceName;
    IList<ITemplateModel> currentTemplateModels = new List<ITemplateModel>();
    async void SetCurrentTemplateModels(ChangeEventArgs e)
    {
        var value = e.Value.ToString();
        currentTemplateModels = await dbTemplateService.GetTemplateModelByPersistenceName(value);
        CurrentTemplateModel = null;
        currentTemplateModelPersistenceName = value;
    }

    void SetCurrentTemplateModel(ChangeEventArgs e)
    {
        var value = e.Value.ToString();
        int.TryParse(value, out var index);
        if (index == -1) return;
        CurrentTemplateModel = currentTemplateModels[index];
    }


    IList<string> databaseModelPersistenceNames = new List<string>();
    IList<string> templateModelPersistenceNames = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        databaseModelPersistenceNames = await dbTemplateService.GetDatabaseModelPeristenceNames();
        templateModelPersistenceNames = await dbTemplateService.GetAllTemplateModelPersistenceNames();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("onBlazorReady");
            JSRuntime.InvokeVoidAsync("onBlazorReadyInitializeEditor");
        }
    }

    ITemplateModel currentTemplateModel = null;
    public  ITemplateModel CurrentTemplateModel {
        get
        {
            return currentTemplateModel;
        }
        set {
            currentTemplateModel = value;
            if (currentTemplateModel != null) SetEditorContent(value?.TemplatedFilePath??string.Empty , value?.TemplatedFileContent??string.Empty);
        }
    }

    void SetTemplate(ITemplateModel setTemplateModel)
    {
        CurrentTemplateModel = setTemplateModel;
        StateHasChanged();
    }

    void CreateNewGroup()
    {
        currentTemplateModels = new List<ITemplateModel>();
        currentTemplateModelPersistenceName = "NewTemplateGroupName";
        AddTemplateToGroup();
    }


    async Task SaveTemplateGroup()
    {
        CurrentTemplateFileContent = await GetEditorContent();
        dbTemplateService.SaveTemplateModels(currentTemplateModelPersistenceName, currentTemplateModels);
        templateModelPersistenceNames = await dbTemplateService.GetAllTemplateModelPersistenceNames();
    }

    async Task DeleteTemplateGroup()
    {
        dbTemplateService.DeleteTemplateModels(currentTemplateModelPersistenceName);
        currentTemplateModelPersistenceName = null;
        currentTemplateModels = null;
        CurrentTemplateModel = null;
        templateModelPersistenceNames = await dbTemplateService.GetAllTemplateModelPersistenceNames();
    }

    async void AddTemplateToGroup()
    {
        if (currentTemplateModels == null) CreateNewGroup();
        CurrentTemplateModel = new TemplateModel();
        var templateFilePath = TemplateFilePathExemple;
        int i = 2;
        while(currentTemplateModels.Any(m => m.TemplatedFilePath == templateFilePath))
        {
            templateFilePath = $"{TemplateFilePathExemple}-{i++}";
        }
        CurrentTemplateFilePath = templateFilePath;

        currentTemplateModels.Add(currentTemplateModel);
    }

    void DeleteFromGroup()
    {
        var deletedTemplateModel = currentTemplateModel;
        CurrentTemplateModel = null;
        if (currentTemplateModels == null) return;
        currentTemplateModels.Remove(deletedTemplateModel);
    }

    async void RunGeneration()
    {
        if (CurrentTemplateModel == null) return;
        if (currentDatabaseModel == null) return;
        CurrentTemplateFileContent = await GetEditorContent();
        results = dbTemplateService.Process(CurrentTemplateModel, currentDatabaseModel);
        StateHasChanged();
    }

    public string ColumnTemplateFileNameWord
    {
        get => dbTemplateService?.ColumnTemplateFileNameWord ?? string.Empty;
    }

    public string TableFilePathTemplateWord
    {
        get => dbTemplateService?.TableFilePathTemplateWord ?? string.Empty;
    }

    public string DatabaseFilePathTemplateWord
    {
        get => dbTemplateService?.DatabaseFilePathTemplateWord ?? string.Empty;
    }

    public IList<string> AllFilePathTemplateWords
    {
        get => dbTemplateService?.AllFilePathTemplateWords ?? new List<string>();
    }

    public string TemplateFilePathExemple
    {
        get => $"{DatabaseFilePathTemplateWord}-FolderName{System.IO.Path.DirectorySeparatorChar}{TableFilePathTemplateWord}-{ColumnTemplateFileNameWord}-dataAccessObject.cs";
    }

    public string TemplateFilePathPlaceHolder
    {
        get => $"Exemple: {TemplateFilePathExemple}";
    }

    async void SetEditorContent(string filePath, string content)
    {
        var aceMode = FileExtensionToAceModeConverter.ToAceMode(filePath);
        await JSRuntime.InvokeVoidAsync("setEditorContent", new object[] { aceMode, content??String.Empty });
    }

    async Task<string> GetEditorContent()
    {
        var result = await JSRuntime.InvokeAsync<string>("getEditorContent", new object[] { });
        CurrentTemplateFileContent = result;
        return CurrentTemplateFileContent;
    }
}
